<p id="notice"><%= notice %></p>

<h1>Vocabulary Sets</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Base Word</th>
    <th>Translation</th>
    <th>Synonym</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <% @quizzes.each do |quize| %>
    <tr>
      <td><%= quize.id %></td>
      <td><%= quize.base_word %></td>
      <td><%= quize.translation %></td>
      <td><%= quize.synonym %></td>
      <td><%= quize.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<td><%= link_to 'Study Plan Set', study_plan_vocabulary_sets_path(@study_plan), :class => "btn btn-sm btn-info" %></td>
