<p id="notice"><%= notice %></p>

<h1>Vocabulary Sets</h1>

<table>
  <thead>
  <tr>
    <th>Study plan</th>
    <th>Set name</th>
    <th>Completed</th>
    <th>Base Word</th>
    <th>Translation</th>
    <th>Synonym</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <% @quizzes.each do |quize| %>
    <tr>
      <td><%= quize.study_plan_id %></td>
      <td><%= quize.set_name %></td>
      <td><%= quize.is_completed %></td>
      <td><%= quize.base_word %></td>
      <td><%= quize.translation %></td>
      <td><%= quize.synonym %></td>
      <td><%= quize.description %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Vocabulary Set', new_study_plan_vocabulary_set_path %>
<%#= link_to 'Study Plan', study_plans_path %>
<td><%= link_to 'Study Plan Set', study_plan_vocabulary_sets_path(@study_plan) %></td>
