= form_with(model: [@study_plan, @vocabulary_set], local: true) do |form|
  - if vocabulary_set.errors.any?
    #error_explanation
      %h2
        = pluralize(vocabulary_set.errors.count, "error")
        prohibited this vocabulary_set from being saved:
      %ul
        - vocabulary_set.errors.each do |error|
          %li= error.full_message
  .form-group
    = form.label :set_name
    = form.text_field :set_name, :class => "form-control"
  .form-group
    = form.label :is_completed
    = form.check_box :is_completed
  .form-group
    = form.collection_check_boxes(:vocabulary_ids, @vocabularies, :id, :base_word) do |b|
      = b.label(class: "checkbox") do
        = b.check_box(class: "checkbox")
        = b.object.base_word
  .actions
    = form.submit :class => "btn btn-info"
