%h1 Sign In
= form_with url: sign_in_path do |f|
  %p
    = f.label 'username:'
    %br/
    = f.text_field :username, id: 'username'
  %p
    = f.label 'password:'
    %br/
    = f.password_field :password, id: 'password'
  %p
    = f.submit 'Log In', :class => "btn btn-primary"
%p
  Don't you have an account? #{link_to 'Register', sign_up_path}
