%p#notice= notice
%p
  %strong First name:
  = @user.first_name
%p
  %strong Last name:
  = @user.last_name
%p
  %strong Username:
  = @user.username
/ <p>
/ <strong>Auth token:</strong>
/ </p>
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
