- if @user
  Logged in as: #{@user.username}
  %br/
  = link_to 'Edit Password', edit_password_path, :class => "btn btn-sm btn-default"
  = link_to 'Study Plan', study_plans_path, :class => "btn btn-sm btn-primary"
  = link_to 'Vocabularies', vocabularies_path, :class => "btn btn-sm btn-info"
  = link_to 'Logout', logout_path,:method => :delete, :class => "btn btn-sm btn-danger"
- else
  = link_to 'Sign Up', sign_up_path, class: "btn btn-default"
  or
  =link_to 'Login', sign_in_path, class: "btn btn-primary"
