<%= form_with(model: study_plan) do |form| %>
  <% if study_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_plan.errors.count, "error") %> prohibited this study_plan from being saved:</h2>

      <ul>
        <% study_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :plan_name %>
    <%= form.text_field :plan_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
