<p id="notice"><%= notice %></p>

<h1>Study Plans</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Plan name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_plans.each do |study_plan| %>
      <tr>
        <td><%= study_plan.user_id %></td>
        <td><%= study_plan.plan_name %></td>
        <td><%= link_to 'Show', study_plan %></td>
        <td><%= link_to 'Edit', edit_study_plan_path(study_plan) %></td>
        <td><%= link_to 'Vocabulary Sets', study_plan_vocabulary_sets_path(study_plan) %></td>
        <td><%= link_to 'Quiz', study_plan_quizzes_path(study_plan) %></td>
        <td><%= link_to 'Study', study_plan_studies_path(study_plan) %></td>
        <td><%= link_to 'Destroy', study_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study Plan', new_study_plan_path %>
<%= link_to 'Home', root_path %>
