<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @study_plan.user_id %>
</p>

<p>
  <strong>Plan name:</strong>
  <%= @study_plan.plan_name %>
</p>

<%= link_to 'Edit', edit_study_plan_path(@study_plan) %> |
<%= link_to 'Back', study_plans_path %>
