<%= form_with(model: [@study_plan, @vocabulary_set, vocabulary]) do |form| %>
  <% if vocabulary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vocabulary.errors.count, "error") %> prohibited this vocabulary from being saved:</h2>

      <ul>
        <% vocabulary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-3">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">Base Word</span>
        <%= form.text_field :base_word, :class => "form-control", :placeholder => "Base word" %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">Translation</span>
        <%= form.text_field :translation, :class => "form-control", :placeholder => "Translation" %>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">Synonym</span>
        <%= form.text_field :synonym, :class => "form-control", :placeholder => "Synonym" %>

      </div>
    </div>
    <div class="col-lg-3">
      <div class="input-group input-group-sm">
        <span class="input-group-addon" id="sizing-addon3">Description</span>
        <%= form.text_field :description, :class => "form-control", :placeholder => "Description" %>

      </div>
    </div>
  </div>

  <div class="actions pull-right m-5">
    <%= form.submit :class => "btn btn-sm btn-primary" %>
  </div>
<% end %>
