<p id="notice"><%= notice %></p>

<p>
  <strong>Base word:</strong>
  <%= @vocabulary.base_word %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @vocabulary.translation %>
</p>

<p>
  <strong>Synonym:</strong>
  <%= @vocabulary.synonym %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vocabulary.description %>
</p>

<%= link_to 'Edit', edit_vocabulary_path(@vocabulary) %> |
<%= link_to 'Back', vocabularies_path %>
